* {
    font-family: 'Asap Condensed', sans-serif;
  }

.divbotonfoto {
    margin: 20px;
    text-align: center;
}

ion-title {
    font-size: 2em; font-weight: bold; color: white;
  }

ion-toolbar {
    --background: #706b5e;
  }

  ion-button {
    font-size: 1.3em; font-weight: bold;
  }

  ion-icon {
      margin: 5px;
  }