<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Denuncia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]='formulario' (ngSubmit)='nuevaDenuncia(formulario.value)'>
    <ion-item>
      <ion-input formControlName='texto' type='text' placeholder='Texto de la denuncia'></ion-input>
    </ion-item>
    <div class="divbotonfoto">
      <ion-button color='success' (click)="sacarFoto()">
        <ion-icon name="camera"></ion-icon>
        Sacar foto
      </ion-button>
    </div>

    <img [src]="domSanitizer.bypassSecurityTrustUrl(imagen)" *ngIf="imagen" width="100%" height="100%">

    <ion-button expand="full" size="large" color='primary' type='submit' [disabled]='!formulario.valid || !imagen'>
      Adjuntar denuncia
    </ion-button>



  </form>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/" routerDirection="root">
      <ion-icon name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>