
* {
  font-family: 'Asap Condensed', sans-serif;
}

.peq {
  font-size: small;
  color: #666;
}

ion-title {
  font-size: 2em; font-weight: bold; color: white;
}

ion-toolbar {
  --background: #706b5e;
}

ion-button {
  font-size: 1.3em; font-weight: bold;
}