<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Foto denuncias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="block" routerLink="/nueva-denuncia" routerDirection="root">
    nueva denuncia
  </ion-button>

  <ion-list>
    <ion-item *ngFor='let denuncia of servicio.denuncias'>
      <ion-label>
        {{denuncia.texto}}
      </ion-label>
      <img [src]="domSanitizer.bypassSecurityTrustUrl(denuncia.foto)" width=" 20%">
    </ion-item>

  </ion-list>




</ion-content>