
* {
    font-family: 'Asap Condensed', sans-serif;
  }

  ion-title {
    font-size: 2em; font-weight: bold; color: white;
  }
  
  ion-toolbar {
    --background: #706b5e;
  }
  
  ion-button {
    font-size: 1.3em; font-weight: bold; color: white;
  }
  
  ion-icon {
    margin: 2px 5px 0;
  }

  p {
      padding: 0 5px; font-size: 1.2em;
  }

